@keyframes ldio-8as5nqhmm4u {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-8as5nqhmm4u div {
    left: 72.38px;
    top: 36.96px;
    position: absolute;
    animation: ldio-8as5nqhmm4u linear 1.333333333333333s infinite;
    background: #353535;
    width: 9.24px;
    height: 18.48px;
    border-radius: 4.62px / 9.24px;
    transform-origin: 4.62px 40.04px;
}.ldio-8as5nqhmm4u div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -1.2222222222222219s;
     background: #353535;
 }.ldio-8as5nqhmm4u div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1.111111111111111s;
      background: #353535;
  }.ldio-8as5nqhmm4u div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.9999999999999998s;
       background: #353535;
   }.ldio-8as5nqhmm4u div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8888888888888887s;
        background: #353535;
    }.ldio-8as5nqhmm4u div:nth-child(5) {
         transform: rotate(120deg);
         animation-delay: -0.7777777777777777s;
         background: #353535;
     }.ldio-8as5nqhmm4u div:nth-child(6) {
          transform: rotate(150deg);
          animation-delay: -0.6666666666666665s;
          background: #353535;
      }.ldio-8as5nqhmm4u div:nth-child(7) {
           transform: rotate(180deg);
           animation-delay: -0.5555555555555555s;
           background: #353535;
       }.ldio-8as5nqhmm4u div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.44444444444444436s;
            background: #353535;
        }.ldio-8as5nqhmm4u div:nth-child(9) {
             transform: rotate(240deg);
             animation-delay: -0.33333333333333326s;
             background: #353535;
         }.ldio-8as5nqhmm4u div:nth-child(10) {
              transform: rotate(270deg);
              animation-delay: -0.22222222222222218s;
              background: #353535;
          }.ldio-8as5nqhmm4u div:nth-child(11) {
               transform: rotate(300deg);
               animation-delay: -0.11111111111111109s;
               background: #353535;
           }.ldio-8as5nqhmm4u div:nth-child(12) {
                transform: rotate(330deg);
                animation-delay: 0s;
                background: #353535;
            }
.loadingio-spinner-spinner-rkpf3jscdd {
    width: 154px;
    height: 154px;
    margin: auto;
    overflow: hidden;

}
.ldio-8as5nqhmm4u {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-8as5nqhmm4u div {
    box-sizing: content-box;
}