.header {
    background: #000000;
    padding: 15px;
}

.header h1, .header ul {
    margin: 0;
}

.header ul li {
    list-style: none;
    margin-right: 25px;
    font-size: 16px;
}

.header a {
    color: #ffffff;
}

.header h1 span {
    font-size: 10px;
    color: #ffffff;
}
